{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="mt-5">
    <h1 class="display-4">Bem-vindo, {{ usuario.nome }}</h1>
    <div class="mb-3">
        {% if usuario.is_admin %}
            <a href="{% url 'listar_usuarios' %}" class="btn btn-primary btn-sm mr-2">Listar Usuários</a>
        {% else %}
            <a href="{% url 'adicionar_produto' %}" class="btn btn-primary btn-sm mr-2">Adicionar Produto</a>
        {% endif %}
        <a href="{% url 'logout' %}" class="btn btn-secondary btn-sm">Logout</a>
    </div>
</div>

{% if usuario.is_admin %}
    <h2>Dashboard Administrativa</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-4">
                <div class="card-body">
                    <h5 class="card-title">Total de Usuários</h5>
                    <p class="card-text">{{ total_usuarios }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-4">
                <div class="card-body">
                    <h5 class="card-title">Usuários Ativos</h5>
                    <p class="card-text">{{ usuarios_ativos }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-danger mb-4">
                <div class="card-body">
                    <h5 class="card-title">Usuários Inativos</h5>
                    <p class="card-text">{{ usuarios_inativos }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-4 offset-4" style="width: 18rem;">
        <div class="card-header text-white bg-info">
            Últimos 5 Usuários Adicionados
        </div>
        <ul class="list-group list-group-flush">
            {% for usuario in ultimos_usuarios %}
            <li class="list-group-item">
                <strong>{{ usuario.nome }}</strong> - {{ usuario.email }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <h2>Produtos</h2>
    <div class="row">
        {% for produto in produtos %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="https://robohash.org/{{ produto.id }}?gravatar=yes" class="card-img-top" alt="foto de {{ produto.nome }}">
                    <div class="card-body">
                        <h5 class="card-title"><b>Nome:</b> {{ produto.nome }}</h5>
                        <p class="card-text"><br><b>País:</b> {{ produto.pais }}<br><b>Categoria:</b> {{ produto.categoria }}<br><b>Marca:</b> {{ produto.marca }}<br><b>Validade:</b> {{ produto.data_validade }}</p>

                        <!-- Botões de Editar e Excluir -->
                        <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalExcluir{{ produto.id }}">Excluir</button>

                        <button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#modal{{ produto.id }}">Informações</button>
                    </div>
                </div>

                <!-- Modal para Confirmação de Exclusão -->
                <div class="modal fade" id="modalExcluir{{ produto.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabelExcluir{{ produto.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabelExcluir{{ produto.id }}">Confirmar Exclusão</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Tem certeza que deseja excluir o produto "{{ produto.nome }}"?</p>
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'excluir_produto' produto.id %}">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal para Informações do Produto -->
                <div class="modal fade" id="modal{{ produto.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ produto.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ produto.id }}">Informações de {{ produto.nome }}</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Nome: </strong>{{ produto.nome }}</p>
                                <p><strong>Categoria: </strong>{{ produto.categoria }}</p>
                                <p><strong>Data de Validade: </strong>{{ produto.data_validade }}</p>
                                <p><strong>Descrição: </strong>{{ produto.descricao }}</p>
                                <p><strong>País: </strong>{{ produto.pais }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}