{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="mt-5">
        <h1 class="display-4">Bem-vindo(a), {{ usuario.nome }}</h1>
        <div class="mb-3">
           <a href="{% url 'adicionar_contato' %}" class="btn btn-primary mr-2">Adicionar Contato</a>
           <a href="{% url 'logout' %}" class="btn btn-dark">Logout</a>
        </div>
</div>

<h2>Meus Contatos</h2>
<ul class="list-group mt-3">
        {% for contato in contatos %}
        <li class="list-group-item">{{ contato.nome }} - {{ contato.telefone }} - {{ contato.email }} - {{ contato.endereco }}</li>
        {% endfor %}
</ul>
{% endblock %}
