{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="mt-5">
    <!-- Card para o título de boas-vindas -->
    <div class="card" style="background-color: #fffdd0; color: #000000; border: none; border-radius: 8px; padding: 20px; box-shadow: 0 4px 6px rgba(0,0,0,0.1); text-align: center;">
        <h1 style="font-size: 50px; font-family: 'Open Sans', sans-serif; margin: 0; color: #000000;">Bem-vindo(a), {{ usuario.nome }}</h1>
    </div>

    <!-- Botões abaixo do card -->
    <div class="mt-4 mb-3">
        {% if usuario.is_admin %}
            <a href="{% url 'listar_usuarios' %}" class="btn" style="background-color: #008000; color: #000000; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block; text-align: center;">Listar Usuários</a>

        {% else %}
            <a href="{% url 'adicionar_registro' %}" class="btn"
                              style="background-color: #008000; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none; font-size: 16px; display: inline-block;">
                           Adicionar Registro Olímpico
            </a>

        {% endif %}
        <a href="{% url 'change_password' %}" class="btn" style="background-color: #FFD700; color: #000000; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block; text-align: center;">Alterar Senha</a>
        <a href="{% url 'logout' %}" class="btn" style="background-color: #0047ab; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px;">Logout</a>

    </div>
</div>

{% if usuario.is_admin %}
    <div class="mt-3">
    <!-- Card Sutil para o título "Dashboard Administrativa" -->
    <div class="card text-center mb-4" style="background-color: #fffdd0; border: 1px solid #119766; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); max-width: 600px; margin: 0 auto; padding: 10px;">
      <div class="card-body">
        <h2 class="card-title" style="margin: 0; font-size: 24px; font-family: 'Open Sans', sans-serif; color: #000000; font-weight: bold;">Dashboard Administrativa</h2>
      </div>
    </div>


    <div class="row">
        <!-- Card "Total de Usuários" -->
        <div class="col-md-4">
            <div class="card" style="background-color: #008000; color: #000000; margin-bottom: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Total de Usuários</h5>
                    <p class="card-text">{{ total_usuarios }}</p>
                </div>
            </div>
        </div>

        <!-- Card "Usuários Ativos" -->
        <div class="col-md-4">
            <div class="card" style="background-color: #FFD700; color: #000000; margin-bottom: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Usuários Ativos</h5>
                    <p class="card-text">{{ usuarios_ativos }}</p>
                </div>
            </div>
        </div>

        <!-- Card "Usuários Inativos" -->
        <div class="col-md-4">
            <div class="card" style="background-color: #0047ab; color: #000000; margin-bottom: 1rem;">
                <div class="card-body">
                    <h5 class="card-title">Usuários Inativos</h5>
                    <p class="card-text">{{ usuarios_inativos }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Card "Últimos 5 Usuários Adicionados" -->
    <div class="card mb-4" style="max-width: 800px; margin: 0 auto;">
        <div class="card-header" style="background-color: #119766; color: #000000; font-weight: bold;">
            Últimos 5 Usuários Adicionados
        </div>
        <ul class="list-group list-group-flush">
            {% for usuario in ultimos_usuarios %}
            <li class="list-group-item">
                <strong>{{ usuario.nome }}</strong> - {{ usuario.email }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% else %}


     <h2 class="mb-4">
    <div class="card" style="background-color: #fffdd0; border: 1px solid #ddd; border-radius: 8px; padding: 15px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); text-align: center;">
    <h2 style="margin: 0; font-size: 24px; font-family: 'Arial', sans-serif; font-weight: bold; color: #333;">Registros Olímpicos</h2>
    </div>
</h2>

<div class="row">
    {% for registro in registros %}
        <div class="col-md-4">
            <div class="card mb-4" style="min-height: 400px;"> <!-- Define uma altura mínima para todos os cards -->
                {% if registro.foto_base64 %}
                    <img src="data:image/png;base64,{{ registro.foto_base64 }}" class="card-img-top" alt="foto de {{ registro.atleta }}">
                {% else %}
                    <img src="https://robohash.org/{{ registro.id }}?gravatar=yes" class="card-img-top" alt="foto de {{ registro.atleta }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: bold; color: #111111;">Nome: {{ registro.atleta }}</h5>
                    <p class="card-text">
                        <b>Atleta:</b> {{ registro.atleta }}<br>
                        <b>Modalidade:</b> {{ registro.modalidade }}<br>
                        <b>País:</b> {{ registro.pais }}<br>
                        <b>Medalha:</b> {{ registro.medalha }}<br>
                        <b>Ano:</b> {{ registro.ano }}<br>
                        <b>Local sede:</b> {{ registro.local_sede }}<br>
                        <b>Para acessar o momento olímpico clique em 'informações' :)</b>
                    </p>
                    <!-- Botões alinhados -->
                    <div class="d-flex gap-2">
                       <button type="button" class="btn btn-sm" style="background-color: #008000; color: #ffffff; border-color: #008000;" data-bs-toggle="modal" data-bs-target="#modal{{ registro.id }}">Informações</button>
                        <a href="{% url 'editar_registro' registro.id %}" class="btn btn-sm" style="background-color: #FFD700; color: #000000; border: none; padding: 5px 10px; border-radius: 5px; text-decoration: none;">Editar</a>

                       <button type="button" class="btn btn-sm" style="background-color: #0047ab; color: #ffffff; border: none;" data-bs-toggle="modal" data-bs-target="#modalExcluir{{ registro.id }}">Excluir</button>
                    </div>
                </div>
            </div>

            <!-- Modal para Confirmação de Exclusão -->
            <div class="modal fade" id="modalExcluir{{ registro.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabelExcluir{{ registro.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabelExcluir{{ registro.id }}">Confirmar Exclusão</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Tem certeza que deseja excluir o registro olímpico "{{registro.atleta}}"?</p>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'excluir_registro' registro.id %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-success">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal para Informações do Registro -->
            <div class="modal fade" id="modal{{ registro.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ registro.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #4CAF50; color: #ffffff;">
                           <h5 class="modal-title" id="modalLabel{{ registro.id }}">Informações de {{registro.atleta}}</h5>
                             <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" style="color: #ffffff;">
                             <span aria-hidden="true">&times;</span>
                             </button>
                        </div>

                       <div class="modal-body">
                             <p><strong>Atleta ou Grupo: </strong>{{ registro.atleta }}</p>
                             <p><strong>Modalidade: </strong>{{ registro.modalidade }}</p>
                             <p><strong>País: </strong>{{ registro.pais }}</p>
                             <p><strong>Medalha: </strong>{{ registro.medalha }}</p>
                             <p><strong>Ano: </strong>{{ registro.ano }}</p>
                             <p><strong>Local Sede: </strong>{{ registro.local_sede }}</p>
                             <p><strong>Momento: </strong>
                                   <a href="{{ registro.momento }}" target="_blank" style="color: #007bff; text-decoration: underline;">{{ registro.momento }}</a>
                             </p>
                       </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}