{% extends 'base.html' %}

{% block title %}Administração de Usuários{% endblock %}

{% block content %}
<div class="container-fluid p-0 mt-5">
    <!-- Card de Título "Administração de Usuários" -->
    <div class="card" style="width: 100%; background-color: #4CAF50; color: #ffffff; border: none; border-bottom: 10px solid #FFD700; display: flex; align-items: center; padding: 10px; box-sizing: border-box; margin-bottom: 20px;">
      <div class="card-body" style="flex: 1;">
        <h1 class="card-title" style="font-size: 55px; font-family: 'Open Sans', sans-serif; margin: 0; color: #000000;">Administração de Usuários</h1>
      </div>
    </div>


    <!-- Botões de Navegação -->
    <div class="mb-3">
        <a href="{% url 'dashboard' %}" class="btn" style="background-color: #008000; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Dashboard</a>

        <a href="{% url 'logout' %}" class="btn" style="background-color: #0047ab; color: #ffffff; border: none; padding: 10px 20px; border-radius: 5px; text-decoration: none;">Logout</a>


    </div>

    <!-- Formulário de Busca -->
    <form class="mb-3">
        <input type="text" name="q" placeholder="Buscar por nome ou email" class="form-control mb-2" style="border-color: #4CAF50;">
        <input type="number" name="idade" min="0" max="200" placeholder="Buscar por idade aproximada" class="form-control mb-2" style="border-color: #4CAF50;">
        <select name="status" class="form-control mb-2" style="border-color: #4CAF50;">
            <option value="">Todos</option>
            <option value="ativo">Ativo</option>
            <option value="inativo">Inativo</option>
        </select>
        <button type="submit" class="btn btn-secondary" style="background-color: #FFD700; color: #000000;">Buscar</button>
    </form>

    <!-- Lista de Usuários -->
    <div class="card mb-4" style="background-color: #150792; border: 2px solid #4CAF50; border-radius: 15px;">
        <div class="card-header" style="background-color: #0047ab; color: #000000; font-weight: bold; border-top-left-radius: 15px; border-top-right-radius: 15px;">
            Usuários
        </div>


        <ul class="list-group list-group-flush">
            {% for usuario in usuarios %}
            <li class="list-group-item" style="background-color: #ffffff;">
                <div>
                    <h5 class="mb-1" style="color: #000000;">{{ usuario.nome }}</h5>
                    {% if usuario.registros_count %}
                    <p class="mb-0"><strong>Registros:</strong> {{ usuario.registros_count }}</p>
                    {% else %}
                    <p class="mb-0">Nenhum Registro Olímpico cadastrado até o momento :(</p>
                    {% endif %}
                </div>
                <div class="mb-3 mt-2">
                    {% if usuario.is_active %}
                        <a href="{% url 'desativar_usuario' usuario.id %}" class="btn btn-secondary btn-sm mr-2">Desativar</a>
                    {% else %}
                        <a href="{% url 'reativar_usuario' usuario.id %}" class="btn btn-success btn-sm mr-2">Reativar</a>
                        <a href="{% url 'resend_activation_email' usuario.id %}" class="btn btn-warning btn-sm mr-2">Reenviar email de ativação</a>
                    {% endif %}
                        <a href="{% url 'excluir_usuario' usuario.id %}" class="btn btn-dark btn-sm">Excluir</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

