{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 style="text-align: center; font-size: 40px; font-family: 'Open Sans', san-serif;"> Gerenciador de Registros Olímpicos! </h1>


<h1 style="text-align: center; font-size: 36px; font-family: 'Open Sans', san-serif;"> Bem vindo(a), Visitante! </h1>

<h2 style="text-align: center; font-size: 20px; font-family: Roboto, sans-serif;">Faça login na sua conta para começar a usar o sistema.</h2>
<h2 style="text-align: center; font-size: 20px; font-family: Roboto, sans-serif;">Caso não tenha conta, clique em 'cadastrar'    :)  </h2>


<h1 style="font-size: 24px;">Login</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="mt-3 button-group">
            <button type="submit" class="btn btn-success btn-sm">Login</button>
            <a href="{% url 'cadastro' %}" class="btn btn-primary btn-sm">Cadastrar</a>
        </div>
    </form>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}
{% endblock %}