{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid p-0">
   <div class="card" style="width: 100%; background-color: #4CAF50; color: #000000; border: none; border-bottom: 10px solid #FFD700; display: flex; align-items: center; padding: 10px; box-sizing: border-box;">
      <div class="card-body" style="flex: 1;">
        <h1 class="card-title" style="font-size: 36px; font-family: 'Open Sans', sans-serif; margin: 0;">Gerenciador de Registros Olímpicos</h1>
      </div>
   </div>


    <div class="mt-3 text-center">
      <div class="card mx-auto" style="max-width: 320px; background-color: #0047ab; border: 2px solid #1E90FF; border-radius: 30px;">
        <div class="card-body text-center">
            <h1 style="font-size: 24px; font-family: 'Open Sans', sans-serif; color: #000000;">Bem-vindo, visitante!</h1>
        </div>
      </div>
    </div>


    <div style="position: relative; margin-top: 20px; padding: 10px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="Bandeira do Brasil" style="position: absolute; top: -10px; right: 10px; width: 100px; transform: rotate(15deg); z-index: 1;">

        <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Olympic_rings_with_transparent_rims.svg" alt="Aros Olímpicos" style="position: absolute; top: -10px; left: 10px; width: 100px; z-index: 2;">
    </div>

    <div class="mt-3 text-center">
     <div class="text-white p-3 rounded" style="width: 100%; max-width: 450px; background-color: #4169e1; margin: 0 auto; text-align: center;">
        <p style="margin-bottom: 0; font-size: 16px; font-family: 'Roboto', sans-serif; color: #000000;">
            Faça login na sua conta para começar a usar o sistema.
        </p>
        <p style="margin-bottom: 0; font-size: 16px; font-family: 'Roboto', sans-serif; color: #000000;">
            Caso não tenha conta, clique em 'cadastrar' :)
        </p>
     </div>
    </div>


    <div class="mt-3" style="max-width: 400px; margin: 0 auto;">
        <h1 style="font-size: 24px; color: #111111; margin-bottom: 20px; text-align: left;">Login</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group mb-3" style="text-align: left;">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                <div class="alert alert-danger">
                    {{ field.errors }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="mt-3 text-center">
                <button type="submit" class="btn" style="background-color: #fde910; color: #000000; border-radius: 20px; padding: 10px 20px;">Login</button>
                <a href="{% url 'cadastro' %}" class="btn" style="background-color: #003d19; color: #FFD700; border-radius: 20px; padding: 10px 20px; text-decoration: none; margin-left: 10px;">Cadastrar</a>
            </div>
        </form>
        {% if form.non_field_errors %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}



