{% extends 'base.html' %}
{% block title %}Personalizar{% endblock %}

{% block content %}
    <h1>Personalizar</h1>
    <form method="post" action="{% url 'personalizar' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="cor_preferida">Escolha sua cor preferida:</label>
            <input type="color" name="cor_preferida" value="{{ usuario.cor_preferida }}" class="form-control" id="cor_preferida">
        </div>
        <button class="btn btn-dark" type="submit">Salvar</button>
    </form>
{% endblock %}
